html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
}

.main {
  padding-top: 4.25rem;
}

.page.portfolio{
  background: white url('../images/portfolio-masthead.jpg') no-repeat top center;
  background-position: center -16em;
}
