<div class="block block-hero">
  <div class="wrapper">
    <div class="hgroup">
      <h1 class="title">This is a longer sentence with more text?</h1>
      <p>High-quality creative, big data intelligence, and superior engagement platforms.</p>
    </div>
		<p id="waypointTriggerTop"><a href="#" class="btn">Watch the Video</a></p>
  </div>
</div>