<div class="block block-page block-portfolio-content">
   <div class="wrapper">
      <div class="block-project-info">
         <h1 id="waypointTriggerTop">Name of the Project</h1>
         {{> atoms-paragraph }}
      </div>
      <div class="block">
         {{> atoms-landscape-16x9 }}
      </div>
      <div class="block">
         {{> atoms-landscape-16x9 }}
      </div>
      <div class="block">
         {{> atoms-landscape-16x9 }}
      </div>
      <div class="block">
         {{> atoms-video }}
      </div>
   </div>
</div>