<div class="block block-wwa">
  <div class="wrapper">
    <h2>Who We Are</h2>
    <hr class="visual-guide" />
    <div class="callout">
      <p>We are a <a href="{{ url }}">full-service strategic marketing and branding agency that</a> helps companies and non-profit organizations leverage digital and social channels to achieve their desired goals.</p>
      <p>Driven by compelling creative content, we utilize data intelligence and engagement platforms to <a href="{{ url }}">drive distribution for maximum results.</a></p>
    </div>
  </div>
</div>