<div class="block block-why">
  <div class="wrapper">
    <h2>Why 3BG</h2>
    <hr class="visual-guide" />
    <div class="column-wrapper">
      {{< molecules-capability-block }}
      {{< molecules-capability-block }}
      {{< molecules-capability-block }}
    </div>
  </div>
</div>