<div class="block block-portfolio">
   <div class="wrapper">
      <h2>Our Work</h2>
      <hr class="visual-guide" />
   </div>
   {{< molecules-portfolio-block }}
   {{< molecules-portfolio-block }}
   {{< molecules-portfolio-block }}
   {{< molecules-portfolio-block }}
   {{< molecules-portfolio-block }}
   {{< molecules-portfolio-block }}
   {{< molecules-portfolio-block }}
   {{< molecules-portfolio-block }}
   {{< molecules-portfolio-block }}
   {{< molecules-portfolio-block }}
   {{< molecules-portfolio-block }}
   {{< molecules-portfolio-block }}
</div>