<div class="block block-capabilities">
  <div class="wrapper">
    <h2>Our Capabilities</h2>
    <hr class="visual-guide" />
    <div class="column-wrapper">
      {{< molecules-capability-block }}
      {{< molecules-capability-block }}
      {{< molecules-capability-block }}
      {{< molecules-capability-block }}
      {{< molecules-capability-block }}
      {{< molecules-capability-block }}
      {{< molecules-capability-block }}
      {{< molecules-capability-block }}
      {{< molecules-capability-block }}
    </div>
  </div>
</div>