<div class="block block-footprint">
  <div class="wrapper">
    <h2>Our Footprint</h2>
    <hr class="visual-guide" />
    <ul>
      <li>List Item</li>
      <li>Longer List Item</li>
      <li>Med List Item</li>
      <li>List Item</li>
      <li>List Item</li>
      <li>List Item</li>
      <li>List Item</li>
      <li>Longer List Item</li>
      <li>Med List Item</li>
    </ul>
  </div>
</div>