    <div class="block capability-block">
      <div class="icon-wrapper">
        <img src="http://placehold.it/290" />
      </div>
      <h3>MARKETING AND DIGITAL STRATEGY</h3>
      <p>The objective of identifying needs and communicating incentives has evolved to require the construction of immersive experiences that engage consumers.</p>
    </div>