@import 'colors';

// Typography
$sans-serif: $helvetica;
$serif: TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
$base-font-family: $sans-serif;
$header-font-family: $sans-serif;
$base-font-weight: 400;

// Font Sizes
$base-font-size: 1em;
$small-font-size: $base-font-size * 0.8;
$h1-font-size: $base-font-size * 2.441;
$h2-font-size: $base-font-size * 1.953;
$h3-font-size: $base-font-size * 1.563;
$h4-font-size: $base-font-size * 1.25;
$h5-font-size: $base-font-size;
$h6-font-size: $small-font-size;

// Line height
$base-line-height: 1.45;
$header-line-height: 1.5;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;
$base-logo-px: 16px !default;
$base-logo-height: 3em;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 1px #ccc;
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

//Layout
$max-width: 65em;

//Defaults
$pad : 1em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

// Screen Sizes
$medium-screen: em(480) !default;
$large-screen: 60em !default;
$x-large-screen: 70em !default;