<ul class="icons inline-list">
	<li class="sprite sprite-3P0"></li>
	<li class="sprite sprite-Akbar"></li>
	<li class="sprite sprite-Artoo"></li>
	<li class="sprite sprite-Chewie"></li>
	<li class="sprite sprite-Fett"></li>
	<li class="sprite sprite-Han1"></li>
	<li class="sprite sprite-Han2"></li>
	<li class="sprite sprite-Kenobi"></li>
	<li class="sprite sprite-Lando"></li>
	<li class="sprite sprite-Leia"></li>
	<li class="sprite sprite-Luke"></li>
	<li class="sprite sprite-Trooper"></li>
	<li class="sprite sprite-Wedge"></li>
	<li class="sprite sprite-Yoda"></li>
</ul>