.header--primary {
  background-color: white;
  //border-bottom: solid 1px darken($white, 10);
  -webkit-box-shadow: 0 1px 1px 1px darken($white, 5);
  box-shadow: 0 1px 1px 1px darken($white, 5);

  .wrapper {
    @extend %flex__wrapper;
    @include align-content(center);
  }

  .game-title {
    text-align: left;
    font-size: 1em;
  }
}