$flex-box-gutter: 0.4em !default;

%flex__wrapper {
  @include clearfix;
  @include display(flex);
  @include flex-wrap(wrap);
}

%flex__box {
  @include flex-grow(1);
  @include flex-basis(100%);
}

%flex__box--half {
  @extend %flex__box;

  @include media($large-screen) {
    @include flex-basis(50%);
  }
}

%flex__box--third {
  @extend %flex__box;

  @include media($medium-screen) {
    @include flex-basis(50%);
    padding-right: 1em;
  }

  @include media($large-screen) {
    @include flex-basis(33.3333%);
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  height: 100vh;
  min-height: 100%;
  min-height: 100vh;
}

header, section, footer {
  @include omega;
  width: 100%;
}

.wrapper--nav {
  @include outer-container;
}

.wrapper {
  @include outer-container;
  padding: 1.5rem;

  @include media($large-screen) {
    padding: 2rem 0;
  }
}

.wrapper--text {
  @extend .wrapper;
  padding: 0;
  max-width: 48rem;
}

.row {
  @include omega;
}

.sidebar--main + .main {
  @include shift(3.4);
  @include media($medium-screen) {
    @include shift(2.55);
  }
  @include media($large-screen) {
    @include shift(1.7);
  }
}

.main {
  @include omega;
  @include transition-property(width);
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-in);
  @include transition-delay(0);
}