.sprite {
    background-image: url('../images/sw-spritesheet.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-3P0 {
    width: 64px;
    height: 71px;
    background-position: -5px -5px;
}

.sprite-Akbar {
    width: 62px;
    height: 72px;
    background-position: -79px -5px;
}

.sprite-Artoo {
    width: 60px;
    height: 71px;
    background-position: -151px -5px;
}

.sprite-Chewie {
    width: 62px;
    height: 71px;
    background-position: -221px -5px;
}

.sprite-Fett {
    width: 68px;
    height: 72px;
    background-position: -151px -86px;
}

.sprite-Han1 {
    width: 66px;
    height: 71px;
    background-position: -5px -168px;
}

.sprite-Han2 {
    width: 68px;
    height: 71px;
    background-position: -81px -168px;
}

.sprite-Kenobi {
    width: 63px;
    height: 72px;
    background-position: -159px -168px;
}

.sprite-Lando {
    width: 66px;
    height: 72px;
    background-position: -293px -5px;
}

.sprite-Leia {
    width: 63px;
    height: 71px;
    background-position: -5px -87px;
}

.sprite-Luke {
    width: 63px;
    height: 71px;
    background-position: -78px -87px;
}

.sprite-Trooper {
    width: 64px;
    height: 72px;
    background-position: -232px -87px;
}

.sprite-Wedge {
    width: 60px;
    height: 72px;
    background-position: -232px -169px;
}

.sprite-Yoda {
    width: 63px;
    height: 72px;
    background-position: -5px -251px;
}
