@import "sprites";
@import "refills";

.btn {
  @extend %button;
  border: none;
}

.btn--cta {
  @extend .btn;
}

.game-title { 
  color: $dividerColor;
  padding: 0 $pad-quarter;
}

.emphasis {
  color: $darkPrimaryColor;
  font-weight: bold;
}

.block--cta {
  @extend .about;
  background-color: lighten($lightPrimaryColor, 15);
  margin-top: 1em;
  padding-bottom: 2em;

  .btn {
    @extend %button--large;
    margin-top: 1em;
  }
}