<div class="nav-toggle">
    <a href="#" id="mobile-nav-trigger" class="nav-toggle-menu"><span class="icon-menu"></span> Menu</a>
</div>
<nav class="nav-primary ui-closed">
  <ul class="nav-list">
    <li class="nav-item"><a href="#contact" class="navTrigger">Link Text</a></li>
    <li class="nav-item"><a href="#contact" class="navTrigger">Longer Link Text</a></li>
    <li class="nav-item"><a href="#contact" class="navTrigger">Med Link Text</a></li>
    <li class="nav-item"><a href="#contact" class="navTrigger">Link Text</a></li>
    <li class="nav-item"><a href="#contact" class="navTrigger">Med Link Text</a></li>
    <li class="nav-item"><a href="#contact" class="navTrigger">Link Text</a></li>
    <li class="nav-item"><a href="#contact" class="navTrigger">Link Text</a></li>
  </ul>
</nav><!--end .nav-->