<nav class="navigation--primary">
  <ul class="navigation-menu">
    <li class="menu-item"><a href="javascript:void(0)" class="navTrigger">Link Text</a></li>
    <li class="menu-item"><a href="javascript:void(0)" class="navTrigger">Longer Link Text</a></li>
    <li class="menu-item"><a href="javascript:void(0)" class="navTrigger">Med Link Text</a></li>
    <li class="menu-item"><a href="javascript:void(0)" class="navTrigger">Link Text</a></li>
  </ul>
</nav><!--end .nav-->