
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}
  <script type="text/javascript" src="../../js/main.min.js"></script>
  <script type="text/javascript">
    var MTIProjectId='47640c01-d3b3-4051-ba85-8c468c01fac7';
    (function() {
      var mtiTracking = document.createElement('script');
      mtiTracking.type='text/javascript';
      mtiTracking.async='true';
      mtiTracking.src=('https:'==document.location.protocol?'https:':'http:')+'//fast.fonts.net/t/trackingCode.js';
      (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
    })();
  </script>
	</body>
</html>