<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #004528;"></span>
		<span class="sg-label">Dark Primary Color</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0D9263;"></span>
		<span class="sg-label">Light Primary Color</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4ABA91;"></span>
		<span class="sg-label">Divider Color</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #CCC427;"></span>
		<span class="sg-label">Accent Color</span>
	</li>	
	<li>
		<span class="sg-swatch" style="background: #212121;"></span>
		<span class="sg-label">Primary Text Color</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #727272;"></span>
		<span class="sg-label">Secondary Text Color</span>
	</li>	
	<li>
		<span class="sg-swatch" style="background: #0C0C0C;"></span>
		<span class="sg-label">Black</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F1F0FF;"></span>
		<span class="sg-label">White</span>
	</li>
</ul>