<div class="page homepage" id="page">
	{{> organisms-header }}
	<div class="main" role="main">
		{{# hero }}
			{{> molecules-block-hero }}
		{{/ hero}}
    {{> molecules-block-wwa }}
    {{> molecules-block-capabilities }}
    {{> molecules-block-portfolio }}
    {{> molecules-block-why }}
    {{> molecules-block-footprint }}
    {{> molecules-block-contact }}
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>