<div class="page portfolio" id="portfolio">
  {{> organisms-header }}
	<div class="main" role="main">
    {{> molecules-portfolio-nav }}
    {{> molecules-block-portfolio-page }}
	</div><!--End role=main-->
  <div class="portfolio-list">
    {{> molecules-block-portfolio }}
  </div>
	{{> organisms-footer }}
</div>