<!-- Begin .header -->
<header id="primaryHeader" class="header-navigation" role="banner">
    <div class="wrapper">
        <a href="{{ url }}" class="logo-wrapper">
          {{> atoms-logo }}
        </a>
        {{> molecules-primary-nav }}
    </div>
</header>
<!-- End .header -->